.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;


}

.about-me img {
  height: 450px;
  width: 450px;
  margin-top: 30px;
 
}



@media screen and (max-width: 576px) {
  .about-me {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-me img {
    height: 350px;  
    width: 350px;
    
  }


}